* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }
 /* =========
   Color Palette
    #2d132c
    #801336 
    #c72c41
    #ee4540
   ========= */
   
   body{
    background-color: #2d132c;
}
   

h1, p, td, th,form, input[type=submit], button[type=submit], input[type=text], input[type=password]{
    color: #FFFFFF;
}

input[type=submit], button[type=submit], input[type=text], input[type=password]{
    background-color: #ee4540;
}

.form-wrapper, .navbar{
    background-color: #801336;
 }
/*Border Styles*/

.navbar, .form-wrapper{
    border-width: 5px;
    border-style: solid;
    border-color:#c72c41;
}



/* =========
   typography
   ========= */

h1{
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    
}

/* =========
   layout
   ========= */
 
  .navbar{
    margin-bottom: 20px;
  }

.navbar,
.navbar .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
} 
.nav-header {
    display: flex;
    align-items: center;
    
  }
.image-logo-wraper{
    padding: 5px 5px 0px 5px;
    width:20%;
  
}
.image-logo-wraper img{
    width: 100%;  
}
.menu-wrapper {
    
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;

}

    .form-login-wrapper, .form-logout-wrapper {
      margin-left: auto;
      
      flex-direction: row;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      
      flex-basis: auto;
      display: flex;
    }
.form-container,  .form-signup-wrapper form
{
    
    display: flex;
    flex-direction: column;
    

}
.form-add-exercise form input, .form-add-exercise form button,
.form-signup-wrapper form input, .form-signup-wrapper form button{
    width: 150px;
}

.form-container, 
.form-signup-wrapper form,
 .form-wrapper, 
 .form-wrapper form input, 
 .form-wrapper form button, 
 .form-wrapper h1 {
  
    margin: auto;
}


/* =========
     Table
   ========= */
 
   table, tr, td, th {
       border-width: 2px;
       border-color: #ee4540;
border-style: solid;
   }