
 
 /* =========
   Color Palette
    #2d132c
    #801336 
    #c72c41
    #ee4540
   ========= */
   
  body{
    background-color: #2d132c;

}
.main-container{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

h1, p, td, th,form, input[type=submit], button[type=submit], input[type=text], input[type=password]{
    color: #FFFFFF;
}

input[type=submit], button[type=submit], input[type=text], input[type=password]{
    background-color: #ee4540;
}

.form-container, nav{
    background-color: #801336;
 }
/*Border Styles*/

nav, .form-container{
    border-width: 5px;
    border-style: solid;
    border-color:#c72c41;
}



/* =========
   typography
   ========= */

h1{
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    
}

/* =========
   layout navBar
   ========= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    
}
.menu-wrapper{
    flex-wrap: wrap;
}
.logo-container{
    display: flex;
    align-items: center;
    padding: 0 5px;
    gap: 10px;
}

img{
    width: 80px;
    display: block;
}

/* =========
   layout form
   ========= */

.form-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
.form-container form{
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 5px;
}

.main-container form button{
    align-self: stretch; 
    

}

/* =========
     Table
   ========= */
 
   table, tr, td, th {
       border-width: 2px;
       border-color: #ee4540;
border-style: solid;
   }
